---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import { getAsset, getBlogPermalink, getPermalink } from '~/utils/permalinks';
import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header
      links={[
        {
          text: 'Blog',
          href: getBlogPermalink(),
        },
        {
          text: 'Packages',
          href: getPermalink('/packages'),
        },
        {
          text: 'About',
          href: getPermalink('/about'),
        },
      ]}
      isSticky
      showRssFeed
      showToggleTheme
    />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer
      footNote={`© ${new Date().getFullYear()} Patrick Brady. All rights reserved.`}
      socialLinks={[
        { ariaLabel: 'RSS', icon: 'tabler:rss', href: getAsset('/rss.xml') },
        { ariaLabel: 'Github', icon: 'tabler:brand-github', href: 'https://github.com/patrady/blog-engineering' },
      ]}
    />
  </slot>
</Layout>
